body{
    background: #ccc;
    overflow-y: scroll;
}

#principal{

    width: 100%;
    background-color: #ccc;
    border-radius: 7px;
    height: 100%;
}

#msgMobile{
    display: none;
}

#meio{
    
    width: 90%;


    border-radius: 7px;
    
    margin: 0 3%;
}

#logo{
    height: 200px;
    background: white;
}

.separatorLeft{
    display: none;
    background-image: url(img/background.png);
}

.separatorRight{
    display: none;
}

#cookie{
    width: 45%;
    position: relative;
    
}

#cookie:hover{
    cursor: pointer;
    width: 46%;
}

#cookie:active{
    width: 44.5%;
}

#cookieBar{
    background-image: url(img/background.png);
    width: 90%;
    text-align: center;
    padding: 5% 0;
    border-radius: 7px;
    display: inline-block;
    position: static;
    margin: 0 3%;

}

#dadosCookie{
    font-size: 1.8em;
    text-align: center;
    background-color:rgb(0, 0, 0, 0.4);
    color: white;
    font-weight: bold;
    margin-bottom: 10%;
}

#info{
    display: none;
}

.nomes{
    font-size: 0.8em;
}

.itemLoja{
    background: white;
    border-radius: 7px;
    padding: 20px;
    display: block;
}

#hideButton:hover{
    cursor: pointer;;
}

.dadosItem{
    text-align: center;
    display: inline-block;
    clear: both;
}

.itemLoja:hover{
    cursor: pointer;
   
}

.nomeItem{
    font-weight: bold;
}

#titBloco{
    text-align: center;
    font-weight: bold;
}

#loja{
    background-color: white;
    width: 80%;
    text-align: center;
    padding: 20px 5%;
    border-radius: 7px;
    display: inline-block;
    position: static;
    margin: 0 3%;
    margin-top: 1%;
}

#meio{
    background-color: white;
    width: 90%;
    text-align: center;
    padding: 20px 0;
    border-radius: 7px;
    display: inline-block;
    position: static;
    margin: 0 3%;
    margin-top: 1%;

   }

.imgItem{
    width: 80px;
    height: 80px;
    
}

#botoes{
    text-align: center;
}

#rodape {
    background-color: white;
    width: 90%;
    text-align: center;
    padding: 20px 0px;
    border-radius: 7px;
    display: inline-block;
    position: static;
    margin: 0 3%;
    margin-top: 1%;
}

.icon:hover{
    cursor: pointer;
}

#avisoBug{
    font-weight: bolder;
    color: white;
    display: none;
}
