body{
    background: #ccc;
    overflow-x: hidden;
    overflow-y: hidden;
}

#principal{

    width: 100%;
    background-color: #ccc;

}

#logo{
    height: 200px;
    background: white;
}

#cookie{
    width: 50%;
}

#cookie:hover{
    cursor: pointer;
}

.separatorLeft{
    display: inline-block;
    position: absolute;
    height: 100%;
    width: 1%;
    left: 31%;
    background: red;
    top: 0px;
}

.separatorRight{
    display: inline-block;
    position: absolute;
    height: 100%;
    width: 1%;
    right: 31%;
    background: red;
    top: 0px;
}

#cookieBar{
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 30%;
    display: inline-block;
    padding: 10px;
    padding-top: 50px;
    background: white;
    text-align: center;
}

#dadosCookie{
    font-size: 2em;
}

.nomes{
    font-size: 0.8em;
}

.itemLoja{
    background: white;
    padding: 10px 2px;
    display: block;
    border-radius: 7px;
}

#hideButton:hover{
    cursor: pointer;;
}

.dadosItem{
    text-align: center;
    display: inline-block;
    clear: both;
}

.itemLoja:hover{
    cursor: pointer;
   
}

.nomeItem{
    font-weight: bold;
}

#titBloco{
    text-align: center;
    font-weight: bold;
}

#loja{
    right: 1%;
    top: 0px;
    width: 28%;
    height: 100%;
    background: white;
    text-align: center;
    position: absolute;
    display: inline-block;
    padding: 1%;
}

#inventario{
    background: white;
    margin-bottom: 15px;
    padding: 10px;
    text-align: center;
    width: 35%;
    top: 0%;
    left: 32%;
    position: absolute;
    display: inline-block;

   }

.imgItem{
    width: 80px;
    height: 80px;
    
}

#botoes{
    text-align: center;
}

#rodape {
    text-align: center;
    padding: 10px 0px;
    background: white;
    margin-top: 15px;
    position: absolute;
    bottom: 0px;
    width: 98%;
}

.icon:hover{
    cursor: pointer;
}

#avisoBug{
    font-weight: bolder;
    color: red;
    display: none;
}
